%h1 Home
%p
  - if current_user
    = link_to "Sign out", signout_path
  - else
    = link_to "Sign in", signin_path
    |
    = link_to "Sign up", signup_path
    |
    = link_to "Sign in with Facebook", "/auth/facebook"
    |
    = link_to "Sign in with Twitter", "/auth/twitter"
